<ion-content [fullscreen]="true">
        <img id="Menu" src="assets/images/Menu.png"> 
        <img id="logonike" src="assets/images/logo-verde.png">
        <img id="icon" src="assets/images/Ellipse 5.png">
        <div id="ConteudoTenis">
        <ion-grid>
            <ion-row>
            
                <ion-col><div id="Quadrado1"></div> 
                <img id="verde"src="assets/images/tenis-verde2.png">
            </ion-col>

            <ion-col><div id="Quadrado2"></div>
                <img id="azul "src="assets/images/tenis-azul.png">
            </ion-col>

            <ion-col><div id="Quadrado3"></div> 
                <img id="rosa"src="assets/images/Tenis-rosa.png">
            </ion-col>

            </ion-row>
          </ion-grid>
        </div>
        <div>
            <img id="foto" src="assets/images/tenis-verde2.png" >
        </div>
        <p id="Titulo">KYRIE INFINITY</p>
        <p id="SubTitulo">Calçados para Basquete </p>
        <p id="Texto"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
        <P id="Preco">Preço</P>
        
        <ion-grid>
            <ion-row>
            
                <ion-col><div></div> 
                    <p id="Valor">$ 799</p>
            </ion-col>

            <ion-col><div id="circulo1"></div>
                <img id="Compartilhar" src="assets/images/Compartilhar.png" >
            </ion-col>

            <ion-col><div id="circulo2"></div> 
                <img id="sacola" src="assets/images/sacola.png" >
            </ion-col>

            </ion-row>
          </ion-grid>
          


</ion-content>
