ion-content{
    --ion-background-color: rgb(17,153,142)!important;
--ion-background-color: linear-gradient(180deg, rgba(17,153,142,1) 0%, rgba(56,239,125,1) 100%)!important;
    }
#Logo{
    margin-top:30px;
    margin-left:27px;
}
#TenisVerde{
    width: 450px;
    margin-top: 65px;
    margin-left: 20px;
   
}
#Titulo{
    position: relative;
    font-size: 40px;
    margin-left: 30px;
    margin-top: -20px;
    color: #144273;
    line-height:50px;
    font-weight: bold;
    width: 322px;
    font-family: 'Holtwood One SC', sans-serif;
}
#Texto{
    position: relative;
    margin-top: -20px;
    font-family: 'Istok Web', sans-serif;
    color: white;
    margin-left: 30px;
    width: 368px;
    font-size: 20px;
    text-align: justify;
}
#botao{
    width: 240px;
    height: 81px;
    color:white;
    background-color:#F2C94C;
    border-radius: 60px;
    margin-left: 94px; 
    font-size: 30px;
    margin-top: 20px;
}