<ion-content [fullscreen]="true" > 
        <img id="Logo" src="assets/images/simbolo-nike.png">
    <div class="container">
        <img id="TenisVerde" src="assets/images/tenis-verde.png"> 
        <p id="Titulo">summer collections <span style="color: white;">2022</span></p>
        <p id="Texto">Um dos tênis mais icônicos da última década está de volta, e totalmente reestilizado.
             Confira agora a promoção no nosso site.</p>
        <a href="/vendas"><button id="botao">INICIAR</button></a>
    </div>
</ion-content>

